<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/article.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
            <div class="articles">
                <ul>
                    <img src="images/software.jpg" class="articletitle"><br>
                    <h1><strong> Is It Hard to Be a Software Engineer?</strong></h1>
                    <br><br><br>
                    <h2><strong>Is It Hard to Be a Software Engineer?</strong></h2>
                    <p>Software engineers have to learn programming languages, problem-solving abilities, and must stay
                        up-to-date with the latest technology developments. If you enjoy those things, then being a
                        software engineer will be easier for you than if you’d rather not work at a computer for hours
                        on end. It takes the right kind of person to be a software engineer.
                    </p><br>
                    <p style="font-size: 28px;">What Do Software Engineers Do Day to Day?</p>
                    <img src="/assets/images/5-1.png" class="bodyImg">
                    <p>The day-to-day work or a software engineer can consist of business meetings, work conferences,
                        coworker lunch breaks, and, of course, time spent at a computer, developing and maintaining
                        software on both the front- and back-end. Depending on how specialized the position is, you can
                        be in charge of a very small but crucial set of data or you can be a jack of all trades.
                        <br><br>
                        A large portion of software engineering is problem solving, no matter where or how you work. In
                        a nutshell, that’s the job. You find problems, diagnose them, identify solutions, and implement
                        fixes. You’ll repeat those steps over and over again whether you’re working on your own projects
                        or those of the company you work for. Sound fun? To a lot of people, it does.
                    </p>
                    <p style="font-size: 28px;">Can I Have a Life Outside of Software Engineering?</p>
                    <img src="/assets/images/5-2.png" class="bodyImg">
                    <p>One concern you may have about becoming a software engineer is whether or not you will still be
                        able to have a life outside of software engineering. There are several factors to consider here,
                        but the short answer is yes, you can have a life filled with other things besides your work. If
                        you find a company that allows you to have a work-life balance, then this will be as easy as any
                        other office job.
                    </p>
                    <p style="font-size: 28px;">How Hard Is It to Start a Career in Software Engineering?</p>
                    <img src="/assets/images/5-3.png" class="bodyImg">
                    <p> Hard is a subjective term, so this will be a subjective answer. Starting a career in software
                        engineering is hard in the sense that you have to learn a new set of skills from the ground up.
                        However, starting a career in another field of work could be just as hard. And unlike some
                        careers, it doesn’t take years to get started.
                    </p><br>
                    <p style="font-size: 28px;">Recommended Reading</a></p>
                    <p><a href="/article6">Full-Stack Development: Learn It Because You Want To</a></p>





                </ul>
            </div>



        </ul>
    </section>
</body>

</html>