<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/article.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
            <div class="articles">
                <ul>
                    <img src="images/article2title.png" class="articletitle"><br>
                    <h1><strong> Coding Vs Programming</strong></h1>
                    <br><br><br>
                    <h2><strong>Coding Vs Programming</strong></h2><br>
                    <p>Coding and programming are related, but they are not the same thing, even though you may find
                        people who use the terms interchangeably. When it comes down to it, there are a few differences
                        between coding and programming that you should know before choosing which types of courses you
                        should take to learn the specific skills you need for the career you want. <br><br>
                        In a nutshell, you have to be a coder to be a programmer, but you don’t necessarily have to be a
                        programmer to be a coder. Let’s talk about the differences between coding and
                        programming.</p><br><br>

                    <p style="font-size: 28px;">Differences Between Coding and Programming</p>
                    <img src="/assets/images/2-1.png" class="bodyImg">
                    <p>Coding is writing out commands in a language that a computer can understand. It is part of
                        programming.
                        <br><br>
                        Programming is actually creating a program that has everything it needs to perform a task.
                        <br><br>
                        Basically, you can write out code that’s technically correct but does nothing. And you’d still
                        be coding, but you wouldn’t be programming.
                        <br><br>
                        If you’re a programmer, you do a lot more than write out code.</p>
                    <p style="font-size: 28px;">What Programming Requires</p><br>
                    <img src="/assets/images/2-2.png" class="bodyImg">
                    <p>
                        In order to properly program a piece of software, you need to write code, take care of
                        debugging, make sure it’s compiled correctly, perform testing, and implement, well,
                        implementation.
                        <br><br>
                        If you have a final product or version, then you’ve successfully coded using a programming
                        language to program a program.</p><br>
                    <p style="font-size: 28px;">Coding Is a Subset of Programming</p><br>
                    <img src="/assets/images/2-3.png" class="bodyImg">
                    <p> Of course, each line of code is important, so you’ll need to learn to code to be a programmer.
                        This is why coders and programmers can be one and the same thing.
                        <br><br>
                        And, you can code using a simple text editor, while you’ll need more tools for programming.
                    </p><br><br>
                    <p style="font-size: 28px;">Recommended Reading</a></p>
                    <p><a href="/article3">How Important Is Writing Clean Code?</a></p>





                </ul>
            </div>



        </ul>
    </section>
</body>

</html>