<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/article.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
            <div class="articles">
                <ul>
                    <img src="images/art3.png" class="articletitle"><br>
                    <h1><strong> How Important Is Writing Clean Code?</strong></h1>
                    <br><br><br>
                    <h2><strong>How Important Is Writing Clean Code?</strong></h2>
                    <p>Is there a right way to code? Maybe. Depends on who you ask. You’ll most likely get different
                        answers from every programmer you talk to, even if the differences are small.
                        <br><br>
                        Programming languages are different. They are written and read differently. Of course, there
                        will be preferences when it comes to typing out each line.
                        <br><br>
                        Some people like tabs. Others like spaces.
                        <br><br>
                        In some languages, you need a semicolon. In others, you don’t.
                        <br><br>
                        Some languages are beginner-friendly and forgiving. Others aren’t.
                        <br><br>
                        And on and on and on.
                        <br><br>
                        One thing that remains constant, though, is that writing clean code is important.</p><br><br>
                    <p style="font-size: 28px;">What Do We Mean By Writing Clean Code?</p>
                    <img src="/assets/images/3-1.png" class="bodyImg">
                    <p>Computers are smart, so they can do things easily that humans can’t. For instance, they can parse
                        a giant block of code and figure out what to do with it. Whether that block of code is properly
                        formatted for human eyes or not, the machine can read it and carry out instructions.
                        <br><br>
                        So, writing clean code is for humans.
                        <br><br>
                        If you write code that a computer can’t read, it’ll give you an error message. It won’t say, “I
                        can’t read this because it’s a giant block of code.” It will say, “You forgot something I’m
                        expecting in this giant block of code,” or, “You forgot something I’m expecting in this nicely
                        formatted code.”
                        <br><br>
                        Writing clean code is all about making it easily readable and understandable for programmers.
                        <br><br>
                        You know, humans.</p>
                    <p style="font-size: 28px;">How Do You Write Clean Code?</p>
                    <p>Writing clean code begins with understanding how people read.
                        <br><br>
                        Line breaks help with scannability, which means information can be parsed more quickly by
                        humans. Short lines also make scanning easier.
                        <br><br>
                        Keeping sections of code that are related to one another together also makes it easier for
                        programmers to understand how large chunks of code affect the program.
                        <br><br>
                        In fact, keeping related sections of code together can also help computers interpret the code
                        more efficiently, depending on which programming language you are using (such as Python).
                        <br><br>
                        All of this comes down to white space and order. If you have those two things, you are well on
                        your way to writing clean code.</p>
                    <p>
                        <ol>
                            <li>White Space
                                <ol>
                                    <li>Line Breaks</li>
                                    <li>Short Lines</li>
                                </ol>
                            </li>
                            <li>Order
                                <ol>
                                    <li>Understanding</li>
                                    <li>Navigation</li>
                                </ol>
                            </li>
                        </ol>
                    </p>
                    <p style="font-size: 28px;">What About Comments?</p>
                    <p> Comments in code are essentially helpful notes (we hope) for humans that are not read by the
                        computer. As far as the machine is concerned, comments don’t exist.
                        <br><br>
                        So, how are they helpful?
                        <br><br>
                        When done properly, comments can let fellow programmers know what a section of code does (or is
                        supposed to do).
                        <br><br>
                        Of course, you can write anything in a comment, so comments aren’t inherently helpful.
                        <br><br>
                        If you are writing a comment in Python, you’ll start a new line and type:
                        <br><br>
                        "# "
                        <br><br>
                        Without the quotation marks. The space after the # is important.
                        <br><br>
                        Each line of code that belongs to the comment will need to start this way.
                        <br><br>
                        Other programming languages, like Java and and C, use asterisks and slashes:
                        <br><br>
                        /*
                        <br><br>
                        comment
                        <br><br>
                        */
                        <br><br>
                        If the comment is on a single line, then you can simply type:
                        <br><br>
                        // followed by the comment
                        <br><br>
                        Even if you think your code is super clean, always leave comments for reference. Your future
                        self and other programmers will thank you for it later.
                    </p><br>
                    <p style="font-size: 28px;">Why Write Clean Code?</p>
                    <img src="/assets/images/3-2.png" class="bodyImg">
                    <p>If the program runs, the code is fine, right?
                        <br><br>
                        Wrong.
                        <br><br>
                        There are two really good reasons beyond aesthetics for writing clean code:</p><br>
                    <p style="font-size: 28px;"><strong>1</strong> You Don’t Write Clean Code for You</p>
                    <p>Even if you find coding fun and invigorating (like we do), you have to remember that you’re
                        not
                        writing code for yourself. You are writing it for the future. Mostly, you are writing it for
                        other programmers who may need to revisit your code at a later time. But, you are also
                        writing
                        it for future you, which is not the same thing as present you.<br><br>
                        Don’t make the mistake of thinking you’ll remember what each bit of code does in the future.
                        Chances are, you won’t, and you’ll have to spend a lot of time figuring it out then.</p>
                    <br><br>
                    <p style="font-size: 28px;"><strong>2</strong> You Don’t Write Clean Code for the Machine</p>
                    <p>We covered this a bit already, but it’s important to understand, so here it is again. You aren’t
                        writing clean code for the machine. The computer doesn’t care how pretty your code is. As long
                        as it can parse and act on the instructions, it’s good.<br><br>
                        But wait, isn’t that an argument for not writing clean code? No, not really. Remember, just
                        because a computer can read your code doesn’t make it acceptable to not write clean code.
                        <br><br>
                        See reason number one if you’re still confused as to why.</p>
                    <br><br>
                    <p style="font-size: 28px;">Recommended Reading</a></p>
                    <p><a href="/article4">What Should I Learn To Become A Python Programmer?</a></p>





                </ul>
            </div>



        </ul>
    </section>
</body>

</html>