<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/article.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
            <div class="articles">
                <ul>
                    <img src="images/article1title.png" class="articletitle"><br>
                    <h1><strong> 5 Types Of Procrastination To Be Aware Of When Programming</strong></h1>
                    <br><br><br>
                    <h2><strong> 5 Types of Procrastination to Be Aware of When Programming</strong></h2><br>
                    <p>Did you know there are different types of procrastination? For everyone, including programmers,
                        identifying which type of procrastinator you are can help you start… and finish working on the
                        task at hand. <br><br>
                        Cat videos and memes are fun, but when they take up a lot of time, they can become a problem.
                        <br><br>
                        So, whether you scroll through social media instead of doing important tasks or you don’t do
                        well
                        working under pressure, learning about the different types of procrastination can help. <br><br>
                        Here are 5 different types of procrastination and tips for overcoming them:</p>
                    <p style="font-size: 28px;"><strong> 1 Avoiders:</strong> How Can I Avoid Doing This?</p>
                    <img src="/assets/images/1-1.png" class="bodyImg">
                    <p>Avoiders go out of their way to procrastinate a project or task. They may feel like the work will
                        be too challenging or too far outside of their skill set to complete. So, in their mind, it’s
                        better to procrastinate than it is to potentially make mistakes, especially if others will see
                        the work.
                        <br><br>
                        If you are an avoider, you may still work on other projects you feel comfortable doing, as long
                        as it means you can continue avoiding the tasks that stress you out.</p>
                    <p style="font-size: 28px;">Tips to Try for Avoiders</p><br>
                    <ul type="disc">
                        <li>Break down intimidating tasks into smaller pieces</li>
                        <li>Try to find resources that can help you with the task</li>
                        <li>Try to work on the most challenging task first</li>
                    </ul><br><br>
                    <p style="font-size: 28px;"><strong>2 Dreamers:</strong>Wouldn’t That Dream Be Nice?</p>
                    <img src="/assets/images/1-2.png" class="bodyImg">
                    <p>
                        Dreamers spend a lot of time coming up with the perfect plan, but they struggle with actually
                        putting that plan into action. They may find themselves trapped in a creative cycle where ideas
                        excite them more than the reality of whether or not those ideas see the light of day. And, they
                        may not even realize that they are procrastinating the actual doing part.
                        <br><br>
                        If you are a dreamer, you might find yourself going over the plan, strategy, or to-do list again
                        and again before getting anything concrete done.</p><br>
                    <p style="font-size: 28px;">Tips to Try for Dreamers</p><br>
                    <ul type="disc">
                        <li>Set a hard time limit for planning</li>
                        <li>Plan for things you can do right now</li>
                        <li>Revisit your plan only after at least one task is done</li>
                    </ul><br><br>
                    <p style="font-size: 28px;"><strong>3 Crisis-Creators:</strong> Why Is Every Project a Crisis?</p>
                    <img src="/assets/images/1-3.png" class="bodyImg">
                    <p> Crisis-creators love deadlines and waiting until the last minute because they believe they work
                        best under pressure. In reality, they aren’t leaving any time to review work, so the work they
                        do is the best under the circumstances. Even though they have plenty of time to get their work
                        done, they intentionally manage their time in a way that leads to every project being a crisis.
                        <br><br>
                        If you are a crisis-creator, you might need external motivation, such as a hard deadline, to
                        stop putting projects off, which can make it difficult to break away from this type of
                        procrastination.
                    </p><br>
                    <p style="font-size: 28px;">Tips to Try for Crisis-Creators</p><br>
                    <ul type="disc">
                        <li>Create a hard deadline before the real deadline</li>
                        <li>Alternate focused work with planned breaks</li>
                        <li>Consider how much time the task needs, not how much time you have</li>
                    </ul><br><br>
                    <p style="font-size: 28px;"><strong>4 Busy-Bees:</strong> What Can I Do to Keep Busy?</p>
                    <img src="/assets/images/1-4.png" class="bodyImg">
                    <p> Busy-bees are people who are always working on something despite never seeming to be able to get
                        anything done. They have a problem with prioritization. Tasks are either deemed unworthy of
                        their time or every task seems equally important so it’s difficult to choose which one to work
                        on.
                        <br><br>
                        If you are a busy-bee, you may find yourself postponing tasks because of indecisiveness, finding
                        yourself flustered with urgent tasks, and unable to tell which task is the most important.
                    </p><br>
                    <p style="font-size: 28px;">Tips to Try for Busy-Bees</p><br>
                    <ul type="disc">
                        <li>Get a trusted outsider’s opinion</li>
                        <li>Ask your project lead for direction</li>
                        <li>Consciously list out tasks by priority</li>
                    </ul><br><br>
                    <p style="font-size: 28px;"><strong>5 Perfectionists: </strong> Who Can I Be If Not Perfect?</p>
                    <img src="/assets/images/1-5.png" class="bodyImg">
                    <p> Perfectionists procrastinate because they can get struck at any point during a project, getting
                        hung up on minor details that they believe must be perfect before they can move forward. Even if
                        a perfectionist has a solid vision and robust resources, they may not start a project for fear
                        of it not living up to their expectations of perfection.
                        <br><br>
                        If you are a perfectionist, you may find yourself spending a lot of time on seemingly important
                        details that nobody else will notice or care about.
                    </p><br>
                    <p style="font-size: 28px;">Tips to Try for Perfectionists</p><br>
                    <ul type="disc">
                        <li>Set and stick to realistic time constraints for each task</li>
                        <li>Stay focused on the overall goal, not the details</li>
                        <li>Remind yourself that done is better than perfect</li>
                    </ul><br><br>
                    <p style="font-size: 28px;">Recommended Reading</a></p>
                    <p><a href="/article2">Coding vs Programming</a></p>
                    
                    
                    


                </ul>
            </div>



        </ul>
    </section>
</body>

</html>