<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/blog.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
           
          <div class="container">
                <div class="row">
                  <div class="col"><figcaption class="text">5 Types Of Procrastination To Be Aware Of When Programming</figcaption>
                    <a href="/article1"><img class="bir" src="images/coder.jpg" ></a>                   
                  </div>
                  <br>
                  <div class="col"><figcaption class="text">How Important Is Writing Clean Code?</figcaption>
                    <a href="/article3"><img src="images/cleancode.jpg"></a>
                  </div><br>
                  <div class="col"><figcaption class="text">What Should I Learn To Become A Python Programmer?</figcaption>
                    <a href="/article4"><img src="images/programmer.jpg"></a>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col"><figcaption class="text">Coding Vs Programming</figcaption>
                    <a href="/article2"><img src="images/comp.jpg"></a>
                  </div><br>
                  <div class="col"><figcaption class="text">Is It Hard To Be A Software Engineer?</figcaption>
                    <a href="article5"><img src="images/software.jpg"></a>
                  </div><br>
                  <div class="col"><figcaption class="text">Full-Stack Development: Learn It Because You Want To</figcaption>
                    <a href="article6"><img src="images/fullstack.jpg"></a>
                  </div>
                </div>
              </div>
              
        </ul>
    </section>
</body>

</html>