<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <header class="section">
            <img src="images/logo.png" class="logo">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/login">Join Us</a></li>
                <li><a href="/aboutUs">About Us</a></li>
            </ul>
        </header>
        <div class="content">
            <div class="textBox">
                
                <h2>It's an on-line course!<br>An easy way to learn!<span> massive online open course</span></h2>
                <p>on-learn is an educational technology, massive online open course, and online learning platform that
                    includes courses created by professional trainers for adults and students.</p>
            </div>
            <div class="imgBox">
                <img src="images/home.png" class="home">
            </div>
        </div>
    </section>
</body>

</html>