<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>on-learn</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    
        <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/mypage.css'>
    </head>
<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="#">My Page</a>
                        <ul class="submenu">

                            <li><a href="/myvideo">My Contents</a></li>
                            <li><a href="/index">Logout</a></li>
                        </ul>

                    </li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>
            <img src="images/video.png" class="video" >
        </ul>
    </section>
</body>
</html>