<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/maleTr2.png">
                    <h1 class="text"><strong> Tyler Jones</strong></h1>
                    <div class="basicInfo">
                        <p>
                            <p style="font-size: 50px;"> <strong>JUNIOR JAVA DEVELOPER</strong></p>
                            <br>
                            <strong> Date of Birth: </strong> March 12, 1995
                            <br>
                            <strong> Place of Birth: </strong> Anhui, China
                            <br>
                            <strong> Citizenship: </strong> Chinese-American
                            <br>
                            <strong>Gender: </strong> Male
                            <br>
                            <strong>Mail Address: </strong> tJones@gmail.com
                        </p>
                    </div>
                    <div class="generalInfo">
                        <p>
                            <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                            <br>
                            <strong>2010</strong> | New City College
                            <br> <strong>Specialities</strong><br>
                            BS Software Engineering<br>
                            <strong>2008</strong> | School of The Computer Sciences
                            <br><br>
                            <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                            JAVA, JavaScript, HTML, DHTML, iBatis/MyBatis, Eclipse/JUnit, PostgreeSQL, Spring MVC
                            <br><br>
                            <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>
                            <br>
                            <strong>Junior JAVA Developer</strong>
                            <br>
                            2015 to 2017 | Best Solutions <br>
                        </p>
                    </div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>