<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/femaleTr2.jpg">
                    <h1 class="text"><strong> Ava Garcia</strong></h1>
                    <div class="basicInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong>PYTHON DEVELOPER</strong></p>
                        <br>
                        <strong> Date of Birth: </strong> July 27, 1988
                        <br>
                        <strong> Place of Birth: </strong> Texas, America
                        <br>
                        <strong> Citizenship: </strong> American
                        <br>
                        <strong>Gender: </strong> Female
                        <br>
                        <strong>Mail Address: </strong> aGarcia@gmail.com
                    </p></div>
                    <div class="generalInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                        <br>
                        <strong>2011</strong> | University of Texas
                        <br> <strong>Specialities</strong><br>
                        M.S. in Engineering<br>
                        <br><br>
                        <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                        Phyton, JavaScript, HTML5, CSS3, SQL, <br>MVC and MVT Architecture, Django, Agile Frameworks
                        <br><br>
                        <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>                        
                        <br>
                        <strong>Python Developer</strong>
                        <br>
                        2015 to present | PyMe <br>Victoria, TX <br>
                        <strong>Data Scientist</strong><br>
                        2012 to 2015 | PyMe <br> Victoria, TX
                    </p></div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>