<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/maleTr3.jpg">
                    <h1 class="text"><strong> Veys Smith</strong></h1>
                    <div class="basicInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong>JAVA DEVELOPER</strong></p>
                        <br>
                        <strong> Date of Birth: </strong> June 21, 1992
                        <br>
                        <strong> Place of Birth: </strong> Liverpool, England
                        <br>
                        <strong> Citizenship: </strong> British
                        <br>
                        <strong>Gender: </strong> Male
                        <br>
                        <strong>Mail Address: </strong> veysveys@gmail.com
                    </p></div>
                    <div class="generalInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                        <br>
                        <strong>2002</strong> | California Institute of Technology
                        <br> Bachelor of Engineering<br>
                        <br><br>
                        <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                        <br>JAVA/JAVAEE TECHNOLOGIES
                        <ul type="disc">
                            <li>SOLID, Spring</li>
                            <li>OOP Principles</li>
                            <li>Design Patterns</li>
                            <li>Unit/Integration Testing</li>
                            <li>Data-structures and Algorithms</li>
                        </ul>
                        <br>JAVASCRIPT AND JAVASCRIPT TECHNOLOGIES
                        <ul type="disc">
                            <li>AngularJS</li>
                            <li>UnderscoreJS</li>
                            <li>JavaScript OOP</li>
                            <li>JQuery, RequireJS</li>
                        </ul>
                        <br>Java EE (6 & 7)
                        <ul type="disc">
                            <li>EJB, JBoss</li>
                            <li>Glassfish, Web Services</li>
                            <li>Socket Programming (NIO)</li>
                        </ul>
                        <br>Software Development
                        <ul type="disc">
                            <li>Scrum, Team Work</li>
                            <li>Agile Methodologies</li>
                            <li>Java Design Patterns</li>
                            <li>Continuous Integration</li>
                            <li>Object-oriented Design</li>
                        </ul>
                        <br>Software Programming Languages
                        <ul type="disc">
                            <li>SQL</li>
                            <li>HTML</li>
                            <li>BASH</li>
                            <li>Python</li>
                            <li>JavaScript</li>
                            <li>JAVA/J2EE</li>
                        </ul>
                        <br><br>
                        <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>                        
                        <br>
                        <strong>Senior Java Developer</strong>
                        <br>
                        2016 to present | Bank of America <br>
                        <strong>Senior Java/.Net Developer</strong><br>
                        2014 to 2016 | Nextware Technologies <br>
                        <strong>Java Developer</strong><br>
                        2010 to 2014 | Trigent Software <br>
                        <strong>Software Developer</strong><br>
                        2006 to 2010 | HQSoftware <br>
                    </p></div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>