<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/femaleTr3.jpg">
                    <h1 class="text"><strong> Angelina Davis</strong></h1>
                    <div class="basicInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong>Front-end Developer</strong></p>
                        <br>
                        <strong> Date of Birth: </strong> September 11, 1990
                        <br>
                        <strong> Place of Birth: </strong> New York, America
                        <br>
                        <strong> Citizenship: </strong> American
                        <br>
                        <strong>Gender: </strong> Female
                        <br>
                        <strong>Mail Address: </strong> angelinadavis@gmail.com
                    </p></div>
                    <div class="generalInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                        <br>
                        <strong>2013</strong> | Stanford University
                        <br> <strong>Specialities</strong><br>
                        Department of Computer Science<br>
                        <br><br>
                        <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                        JavaScript, HTML, CSS, <br> React, Redux, Angular, <br> Adobe Photoshop
                        <br><br>
                        <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>                        
                        <br>
                        <strong>Front-end Developer</strong>
                        <br>
                        2016 to present | TEKsystems <br>New York, America <br>
                        <strong>Front-end Developer</strong><br>
                        2013 to 2015 | Infinity Consulting Solutions <br> New York, America
                    </p></div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>