<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/maleTr1.jpg">
                    <h1 class="text"><strong> Dylan Walsh</strong></h1>
                    <div class="basicInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong>WEB DEVELOPER</strong></p>
                        <br>
                        <strong> Date of Birth: </strong> January 1, 1989
                        <br>
                        <strong> Place of Birth: </strong> Chicago, Illinois
                        <br>
                        <strong> Citizenship: </strong> American
                        <br>
                        <strong>Gender: </strong> Male
                        <br>
                        <strong>Mail Address: </strong> dWalsh@gmail.com
                    </p></div>
                    <div class="generalInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                        <br>
                        <strong>2018</strong> | Bachelor of Science in Information Technology University of Chicago
                        <br> <strong>Certifications</strong><br>
                        Microsoft Certified Professional Developer (MCPD) | Microsoft <br>
                        <strong>2016</strong> | Information Management University of Chicago
                        <br><br>
                        <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                        JavaScript, JQuery, HTML, HTML5, CSS, CSS3, Web Programming Skills, E-Comerce, Teamwork, <br> Verbal
                        Communication, cross-browser compability, Web User Interface Design (UI), Security Principles, <br>
                        Object-Oriented Design, Web Services (REST/SOAP), Multimedia Content Development, API's
                        <br><br>
                        <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>                        
                        <br>
                        <strong>WEB DEVELOPER</strong>
                        <br>
                        2020 to present | INNER Company <br> Sometown, NC <br>
                        <strong>WEB PROGRAMMER</strong><br>
                        2018 to 2019 | DYL Company <br> Sometown,NC
                    </p></div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>