<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>on-learn</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../assets/stylesheets/trainer.css'>
    <script src='main.js'></script>
</head>

<body>
    <section>
        <ul>
            <header class="section">
                <img src="images/logo.png" class="logo">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/login">Join Us</a></li>
                    <li><a href="/aboutUs">About Us</a></li>
                </ul>
            </header>

            <div class="Tr-pp">
                <ul>
                    <img class="prop" src="/assets/images/femaleTr1.jpg">
                    <h1 class="text"><strong> Olivia Miller</strong></h1>
                    <div class="basicInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong>WEB TECHNOLOGIES</strong></p>
                        <br>
                        <strong> Date of Birth: </strong> June 21, 1989
                        <br>
                        <strong> Place of Birth: </strong> Tallinn, Estonia
                        <br>
                        <strong> Citizenship: </strong> Estonian
                        <br>
                        <strong>Gender: </strong> Female
                        <br>
                        <strong>Mail Address: </strong> oMiller@gmail.com
                    </p></div>
                    <div class="generalInfo">
                    <p >
                        <p style="font-size: 50px;"> <strong> EDUCATION</strong></p>
                        <br>
                        <strong>2014</strong> | Estonian Entrepreneurship University of Applied Sciences
                        <br> <strong>Specialities</strong><br>
                        Web technologies, Distance learning<br>
                        <strong>2009</strong> | High School, Tallinn Technical Gymnasium
                        <br><br>
                        <p style="font-size: 50px;"> <strong>TECHNICAL PROFICIENCIES</strong></p><br>
                        JavaScript, HTML, CSS, C#, C++, PHP, Visual Basic
                        <br><br>
                        <p style="font-size: 50px;"> <strong>EXPERIENCE</strong></p>                        
                        <br>
                        <strong>Front-end Developer</strong>
                        <br>
                        2015 to present | startup BudgetMatador <br>Tallinn, Estonia <br>
                        <strong>Customer-Service Consultant</strong><br>
                        2014 to 2015 | Arvutitark OÜ <br> Tallinn, Estonia
                    </p></div>
                </ul>
            </div>





        </ul>
    </section>
</body>

</html>